body{
  text-align: center;
  background-color: #A4ABAE;
}

p{

  font-size: 1.5rem;
}

.my-logo-heading{
  margin-left: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.my-navbar-items{
  margin: 0 6rem 0 0.1rem;
  font-size: 1.3rem;
}

.myIntoImage{
  width: 15rem;
  height: 17rem;
  border-radius: 30%;
}

table{
  text-align: center;
}

td, th{
  padding: 0.7rem;
}

.position{
  text-align: center;
  /* margin: 5rem; */
}

.biowhiz-img, .comm-work-img{
  margin: auto;
  border-radius: 2rem;
}

.position-description, .comm-work-description{
  padding: 2rem 14rem;
}

.hobbies-img{
  width: 15rem;
  margin: 2rem auto 2rem;
}
